.title {
    color: gray;
}

.red {
    color: red;
}

.blue {
    color: blue;
}

.pink {
    color: pink;
    /*font-family: "Lucida Console";*/
    /*font-size: 40px;*/
}

.green {
    color: green;
}